doctype html
html
  head
    link(rel='stylesheet', href='/css/core.css', type='text/css')
    //- link(rel='stylesheet', href='/css/instructor/create.css', type='text/css')
  body
    h1= action + ' Assignment'
    form#asform(method=httpVerb, action=endpoint)
      input(type='hidden', name='asId', value=assignment.ID)
      div
        if assignment.graded
          p= assignment.name
        else 
          label(for='name') Assignment Name
          input(type='text', name='name', value=assignment.name)
      div
        textarea(name='description', placeholder='Assignment Description')= assignment.description
      div
        if assignment.graded
          p= 'Graded: Possible points: ' + assignment.graded.maxPoints
        else 
          label(for='graded') Graded: 
          input(type='checkbox', name='graded')
          label(for='maxPoints') Max Points
          input(type='number', name='maxPoints', min=0)
      div
        input(type='submit', value= action + ' Assignment')