doctype html
html
  head
    link(rel='stylesheet', href='/css/grade.css', type='text/css')
  body
    h1= 'Assignment: ' + assignment.name
    p
      a(href='/instructor/as/' + assignment.ID + '/edit') Edit
    p Description
    p= assignment.description
    if assignment.graded
      p= 'Possible Points: ' + assignment.graded.maxPoints
    p Students
    table#gradebook
      thead
        tr
          td Student Name
          td temp submit
          td Submission
          if assignment.graded
            td Grade
            td Set Grade
      tbody
        each learner in assignment.learners
          tr
            td= learner.name
            td
              form(action='/api/1.0/user/' + learner.ID + '/as/' + assignment.ID, method="POST")
                input(type='text', name='submission', placeholder='Post Info')
                input(type='submit', value='Post')
            td
              if learner.post
                p= learner.post
            if assignment.graded
              td= learner.grade
              td
                form(action='/api/1.0/assignment/' + assignment.ID + '/learner/' + learner.envUserId, method="POST")
                  input(type='number', name='grade', placeholder='Grade', min=0, max=assignment.graded.maxPoints)
                  input(type='submit', value='Update')
