doctype html
html
  head
    link(rel='stylesheet', href='/css/core.css', type='text/css')
    link(rel='stylesheet', href='/css/post.css', type='text/css')
  body
    #content
      p
        a(href='/instructor/as/' + assignment.ID + '/edit') Edit
      #feed
        section.post
          header
            p= assignment.name
              if assignment.graded
                span.points Score:
                  br
                  span= assignment.graded.maxPoints
          if assignment.description
            article.assignment-description
              p.heading Assignment Description
              p= assignment.description
          if assignment.dueDate
            article
              p.heading Due Date:
              p= assignment.dueDate.toDateString()
          article.grade
            p.heading Embed code
            textarea.embed= embedCode
        each learner in assignment.learners
          if learner.post
            section(class='post ' + learner.state + ' ' + (learner.state === 'graded' ? 'hide' : 'show'), style='width: ' + learner.post.width + 'px')
              header
                p= learner.name
                  //- span.tag= learner.state
                if learner.state === 'graded'
                  svg(fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0 0h24v24H0z" fill="none")
                    path(d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z")
                    path(d="M0 0h24v24H0z" fill="none")
              article.media(style='height: ' + learner.post.height + 'px')
                if learner.post.type === 'image'
                  img(src=learner.post.url, style='width: ' + learner.post.width + 'px; height: ' + learner.post.height + 'px')
                else
                  video(src=learner.post.url, style='width: ' + learner.post.width + 'px; height: ' + learner.post.height + 'px', controls)
              article.media-description
                p= learner.post.description
              if assignment.graded
                article.grade
                  p.heading Assignment Grade
                  form(id=learner.ID, action='/api/1.0/assignment/' + assignment.ID + '/learner/' + learner.ID, method='POST')
                    input(type='hidden', name='lId', value=learner.envUserId)
                    if learner.grade
                      input(type='number', name='grade', placeholder='Grade', min=0, max=assignment.graded.maxPoints, value=learner.grade.score)
                    else
                      input(type='number', name='grade', placeholder='Grade', min=0, max=assignment.graded.maxPoints)
                article.grade
                  p.heading Assignment Feedback
                  if learner.grade
                    textarea(form=learner.ID, name='feedback')= learner.grade.feedback
                  else
                    textarea(form=learner.ID, name='feedback')
              if assignment.graded
                footer
                  input(form=learner.ID, type='submit', value='Submit Grade')

          else
            section(class='post ' + learner.state, style='width: 640px')
              header
                p= learner.name   
                svg(fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z")
                  path(d="M0 0h24v24H0z" fill="none")

    //- footer
      div 
        p Created by Me

    script(src='/js/collapsePost.js')
