doctype html
html
  head
    link(rel='stylesheet', href='/css/core.css', type='text/css')
    link(rel='stylesheet', href='/css/post.css', type='text/css')
  body
    #content
      p
        a(href='/instructor/as/' + assignment.ID + '/edit') Edit
      #feed
        section.post
          header
            p= assignment.name
          article.assignment-description
            p.heading Assignment Description
            p= assignment.description
          if assignment.graded
            article.grade
              p= 'Possible Points: ' + assignment.graded.maxPoints
          //- footer
        each learner in assignment.learners
          if learner.post
            section.post(style='width: ' + learner.post.width + 'px')
              header
                p= learner.name
              article.media(style='height: ' + learner.post.height + 'px')
                if learner.post.type === 'image'
                  img(src=learner.post.url, style='width: ' + learner.post.width + 'px; height: ' + learner.post.height + 'px')
                else
                  video(src=learner.post.url, style='width: ' + learner.post.width + 'px; height: ' + learner.post.height + 'px', controls)
              article.media-description
                p= learner.post.description
              if assignment.graded
                article.grade
                  p.heading Assignment Grade
                  form(id=learner.ID, action='/api/1.0/assignment/' + assignment.ID + '/learner/' + learner.ID, method='POST')
                    input(type='hidden', name='lId', value=learner.envUserId)
                    if learner.grade
                      input(type='number', name='grade', placeholder='Grade', min=0, max=assignment.graded.maxPoints, value=learner.grade.score)
                    else
                      input(type='number', name='grade', placeholder='Grade', min=0, max=assignment.graded.maxPoints)
                article.grade
                  p.heading Assignment Feedback
                  if learner.grade
                    textarea(form=learner.ID, name='feedback')= learner.grade.feedback
                  else
                    textarea(form=learner.ID, name='feedback')
              if assignment.graded
                footer
                  input(form=learner.ID, type='submit', value='Submit Grade')

          else
            section.post(style='width: 640px')
              header
                p= learner.name   
    footer
      div 
        p Created by Me
