doctype html
html
  head
    link(rel='stylesheet', href='/css/core.css', type='text/css')
    link(rel='stylesheet', href='/css/post.css', type='text/css')
  body
    #feed
      section.post
        header
          p=assignment.name
            if assignment.graded
              span.points Score:
                br
                span= '/' + assignment.graded.maxPoints
        if assignment.description
          article
            p.heading Assignment Description
            p= assignment.description
        if assignment.dueDate
          article
            p.heading Due Date:
            p= assignment.dueDate.toDateString()
      each m in media
        section(style='width: ' + m.width + 'px').post
          article.media(style='height: ' + m.height + 'px')
            if m.type == 'image'
              img(src=m.url, width=m.width, height=m.height)
            else
              video(src=m.url, width=m.width, height=m.height, controls)
          article.media-description
            p= m.description
          footer
            form(action='/api/1.0/user/' + userId + '/as/' + asId, method='POST')
              input(type='hidden', name='url', value=m.url)
              input(type='hidden', name='type', value=m.type)
              input(type='hidden', name='width', value=m.width)
              input(type='hidden', name='height', value=m.height)
              input(type='hidden', name='postLink', value=m.postLink)
              input(type='hidden', name='mediaId', value=m.id)
              input(type='hidden', name='userId', value=userId)
              input(type='hidden', name='description', value=m.description)
              input(type='submit', value='Submit Post')
    