doctype html
html
  head
    link(rel='stylesheet', href='/css/core.css', type='text/css')
    link(rel='stylesheet', href='/css/post.css', type='text/css')
  body
    #content
      #feed
        section.post
          header
            p= assignment.name
              if assignment.graded
                span.points Score:
                  br
                  if assignment.learner.grade
                    span= assignment.learner.grade.score + '/' + assignment.graded.maxPoints
                  else
                    span= '/' + assignment.graded.maxPoints
          article.assignment-description
            p.heading Assignment Description
            if assignment.description
              p= assignment.description
            else
              p No assignment description
          if assignment.dueDate
            article.grade
              p.heading Due Date:
              //- Handle locales at some other time. 
              p= assignment.dueDate.toDateString()
          if assignment.learner.post
            article.media(style='height: ' + assignment.learner.post.height + 'px')
              if assignment.learner.post.type === 'image'
                img(src=assignment.learner.post.url, style='width: ' + assignment.learner.post.width + 'px; height: ' + assignment.learner.post.height + 'px')
              else
                video(src=assignment.learner.post.url, style='width: ' + assignment.learner.post.width + 'px; height: ' + assignment.learner.post.height + 'px', controls)
            article.media-description
              p= assignment.learner.post.description
            if assignment.graded && assignment.learner.grade && assignment.learner.grade.feedback
              article.grade
                p.heading Feedback:
                p= assignment.learner.grade.feedback
          footer
            if assignment.dueDate && new Date(assignment.dueDate) < Date.now()
              p Deadline has past.
            else
              if assignment.learner.post
                a(href='/learner/auth_user', target='_blank') Resubmit Submission
              else 
                a(href='/learner/auth_user', target='_blank') Start Submission
