doctype html
html
  head
    link(rel='stylesheet', href='/css/core.css', type='text/css')
    link(rel='stylesheet', href='/css/post.css', type='text/css')
  body
    #content
      #feed
        section.post
          header
            p= assignment.name
          if assignment.description
            article.assignment-description
              p.heading Assignment Description
              p= assignment.description
          if assignment.learner.post
            article.media(style='height: ' + assignment.learner.post.height + 'px')
              if assignment.learner.post.type === 'image'
                img(src=assignment.learner.post.url, style='width: ' + assignment.learner.post.width + 'px; height: ' + assignment.learner.post.height + 'px')
              else
                video(src=assignment.learner.post.url, style='width: ' + assignment.learner.post.width + 'px; height: ' + assignment.learner.post.height + 'px', controls)
            article.media-description
              p= assignment.learner.post.description
            if assignment.graded
              article.grade
                p.heading= 'Possible Points: ' + assignment.graded.maxPoints
                if assignment.learner.grade
                  p= 'Score: ' + assignment.learner.grade.score
            if assignment.graded && assignment.learner.grade.feedback
              article.grade
                p.heading Feedback:
                p= assignment.learner.grade.feedback
          footer
            if assignment.learner.post
              a(href='/learner/auth') Resubmit Submission
            else 
              a(href='/learner/auth') Start Submission
